<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.demo.datasync.mapper.ProductMapper">
    <select id="findAll" resultType="com.sakura.demo.datasync.modal.entity.Product">
        select *
        from product;
    </select>
</mapper>